/* MAIN */

body {
	text-align: center;
}

#stage {
	width: 950px;
	height: 450px;
	margin: 0 auto;
}

#stats {
	position: absolute;
	top: 0;
	right: 0;
}

#instructions {
	width: 100%;
	text-align: center;
}

.keys {
	float: left;
	padding: 5px 20px;
	text-align: left;
}

#wrap {
	width: 950px;
    margin: 0 auto;
	position: relative;
	text-align: center;
}


/*


BASE 


*/

body {   
    font: 16px/26px Helvetica, Helvetica Neue, Arial;
	overflow: hidden;
}

p {
	border: 0;
    margin: 0;
    padding: 0;
	font-size: 10px;
}

li {
    font-size: 10px;
    text-decoration: none;
    list-style-type: none;	
}


* {
    border: 0;
    margin: 0;
    padding: 0;
}

img,
object,
video {
    max-width: 100%;
    vertical-align: middle;
}

a {
	color: black;
	font-size: 12px;
    /*text-decoration: none;*/
}

a img {
	border: 0;
    text-decoration: none;
}